{% extends 'moth_site\base.html'%}
{% load static %}
{% block content %}
    <head>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
         <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet" />
         <link href="{% static 'css/detail.css' %}" rel="stylesheet" />

    </head>
<body id="css_override" style="background: url('../media/coffee_beans1.jpg');">
    <div class="text-white">
        <div class="row">
            <div class="text-left row row-cols-md-2" >
            <div>
                <img src="{{caffe.photo.url}}" alt="" width="350" height="350">
            </div>
                <div class="text-left" style="font-size: 2em; font-style: oblique; font-family: Arial">
                    {{ caffe.description }}
                </div>
            </div>
            <div class="caffe-name text-left" style="font-size: 3em; font-style: oblique; font-family: Impact" >
                {{ caffe.name }}
            </div>

           <div class="text-left"  style="font-size: 2em; font-style: oblique; font-family: Arial">
               Address: {{ caffe.address }}
            </div>

           <div class="text-left"  style="font-size: 2em; font-style: oblique; font-family: Arial">
               Work time: {{ caffe.open_time }} - {{ caffe.close_time }}
           </div>



           <div class="text-left" style="font-size: 2em; font-style: oblique; font-family: Arial">
               Rating: {{ caffe.rating }}
           </div>

       </div>

    </div>
   <hr>
   <a class="btn border border-radius-3 border-secondary bg-dark text-white" href="{% url 'add_comment_to_post' caffe.id %}" style="">
        Add comment
   </a>
   {% for comment in caffe.comments.all %}
    <div class="card mb-4 comment1 border border-2 border-secondary text-white bg-dark" style="border-radius: 0.6rem; opacity: 65%">
        <div class="card-body ">
            <p>{{ comment.text|linebreaks }}</p>
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <strong>{{ comment.author }}</strong>
                </div>
                <div class="d-flex flex-row align-items-center">
                    {{ comment.created_date }}
                </div>
            </div>
        </div>
      </div>
    {% empty %}
        <p>{{ comment.text|linebreaks }}</p>
    {% endfor %}
{% endblock %}
