{% extends 'moth_site\base.html' %}
{% load i18n %}

{% block content %}

 <head>
    <title>Interactive maps for Django web apps</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
   <h1>Map time!</h1>
   <div id='map' width="100%" style='height:800px'></div>
   <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZ3RpaG9uOSIsImEiOiJjbDd6MGxxancwcXBsM25sZ2F0a3FhaTZpIn0.Z_aj5MCGhV7FlvnB8L6tCQ';
    var map = new mapboxgl.Map({
     container: 'map',
     center: [23.685102, 52.093753],
     zoom: 11,
     style: 'mapbox://styles/mapbox/streets-v10'
    })
    const marker1 = new mapboxgl.Marker()
    .setLngLat([23.685102, 52.093753])
    .addTo(map);
    map.on('load', () => {
    // Add an image to use as a custom marker
    map.loadImage(
    'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
    (error, image) => {
    if (error) throw error;
    map.addImage('custom-marker', image);
    // Add a GeoJSON source with 2 points
    map.addSource('points', {
        'type': 'geojson',
        'data': {
        'type': 'FeatureCollection',
        'features': [
            {
            // feature for Mapbox DC
            'type': 'Feature',
            'geometry': {
            'type': 'Point',
            'coordinates': [
            23.694536, 52.090125
            ]
        },
        'properties': {
        'title': 'BEST CAFFE EVER'
        }
        },
        {
        // feature for Mapbox SF
        'type': 'Feature',
        'geometry': {
        'type': 'Point',
        'coordinates': [-122.414, 37.776]
        },
    'properties': {
    'title': 'Mapbox SF'
    }
    }
    ]
    }
    });

    // Add a symbol layer
    map.addLayer({
    'id': 'points',
    'type': 'symbol',
    'source': 'points',
    'layout': {
    'icon-image': 'custom-marker',
    // get the title name from the source's "title" property
    'text-field': ['get', 'title'],
    'text-font': [
    'Open Sans Semibold',
    'Arial Unicode MS Bold'
    ],
    'text-offset': [0, 1.25],
    'text-anchor': 'top'
    }
    });
    }
    );
    });
    map.addControl(new mapboxgl.FullscreenControl());
   </script>
  </body>



{% endblock %}