{% extends 'moth_site\base.html' %}
{% load i18n %}
{% load static %}
 <head>
    <title>Interactive maps for Django web apps</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{% static 'css/map.css'%}" type="text/css"/>    <!-- Icons -->
  </head>
<body>
{% block content %}
 <div class="map">{{m | safe}}</div>

<div class="row row-cols-1 row-cols-md-2">
    {% for caffe in caffes %}

    <div class="col mb-4">
      <div class="card">
        <div class="view overlay">

          <img class="card-img-top" src="{{caffe.image.url }}" alt="">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          <img src='{{ caffe.photo.url }}' width='100' height='100'/>
          <h4 class="card-title">{{caffe.name}}</h4>
          <h4>{{caffe.description}}</h4>
          <h5 class="card-title1">huy</h5>
          <p class="card-text">{{caffe.address}}</p>
          <a href="{% url 'detail' caffe.id %}" class="btn btn-primary btn-md">Read more</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock%}
</body>