{% extends 'moth_site\base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
 <head>
    <title>Interactive maps for Django web apps</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
     <link href="{% static 'css/map.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  </head>
<body>
    <div class="w-75 container-fluid asd" >
         <div class="map w-100 p-3">{{m | safe}}</div>
    </div>

<div class="row row-cols-2 row-cols-md-3">
    {% for caffe in cafes %}
    <div class="col mb-4">
      <div class="card">
        <div class="view overlay">

          <img class="card-img-top" src="{{caffe.image.url }}" alt="">
          <a href="#!">
            <div class="mask rgba-red-slight"></div>
          </a>
        </div>
        <div class="card-body ">
          <img src='{{ caffe.photo.url }}'  width='100' height='100'/>
          <h4 class="card-title">{{caffe.name}}</h4>
          <h4>{{caffe.description}}</h4>
          <h5 class="card-title1">huy</h5>
          <p class="card-text">{{caffe.address}}</p>
          <a href="{% url 'detail' caffe.id %}" class="btn btn-primary btn-md">Read more</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</body>
{% endblock%}