{% extends 'moth_site\base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body style="background: url('../../../media/coffee_beans1.jpg');" class="text-white">
<div class="fst-italic lh-sm"style="font-family: Arial">
    <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

    <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

    <a class="text-decoration-none" href="{% url 'home' %}">Home</a>
</div>
</body>
{% endblock %}
